.input-field {
  background: #f5ecec;
  color: #000;
}
.input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin: 0;
}

.password-container {
  display: flex;
  align-items: center;
}

.password-input {
  margin-right: 10px;
}

.forgot-password-button {
  font-size: 14px;
  color: #2c2586;
  background-color: transparent;
  border: none;
  cursor: pointer;
  justify-items: end;
  margin: 0;
  display: table;
}

.submit-button {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
}

.submit-button:hover {
  background-color: #005e7e;
}

.input-field:focus {
  outline: none;
  border-color: #008cba;
}

.error {
  color: #000;
}
